<br />
<div class="d-flex justify-content-center">
  <div class="card" style="width: 20rem;">
    <div class="card-header">
      <h4>Perfil
        <button id="btnans" class="btn btn-outline-dark btn-sm" type="submit"
          (click)="alterarNomeSobrenome()" style="
          position: absolute;
          right: 0;
          margin-right: 5px;
          margin-top: 1px;">🖉</button>
      </h4>
    </div>
    <div class="card-body">
      <h2 style="display: flex; justify-content: center;">
        <label [innerText]="usuario.nome" class=""></label>
        <label [innerText]="usuario.sobrenome" class="" style="margin-left: 5px;"></label>
      </h2><hr>
      <h5 style="display: flex; justify-content: center;">
        <label [innerText]="'@' + usuario.login" class=""></label>
      </h5>
    </div>
    <div class="card-footer" style="display: flex; justify-content: center;">
        <button id="btnas" class="btn btn-outline-dark" type="submit"
        (click)="alterarSenha()">Alterar Senha</button>
    </div>
  </div>
</div>